---
interface Props {
  id: string;
  name: string;
  label?: string;
  placeholder?: string;

  minLength?: string | number;
  maxlength?: string | number;
}

const { id, name, label, placeholder, minLength, maxlength } = Astro.props;
---

<div>
  {
    label && (
      <label
        for={id}
        class='block mb-2 text-sm font-medium'
      >
        {label}
      </label>
    )
  }
  <textarea
    id={id}
    name={name}
    placeholder={placeholder}
    class='rounded-lg block p-2.5 w-full text-sm resize-none
    bg-white/5 border border-black/40 dark:border-white/5 focus:ring-blue-500 focus:border-blue-500 
    dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white 
    dark:focus:ring-blue-500 dark:focus:border-blue-500'
    rows='5'
    required
    minlength={minLength}
    maxlength={maxlength}
    ></textarea>
</div>
